<!doctype html>
<html ng-app="seahawk-crime">
  <head>
    <meta charset="utf-8">
    <title>911 Responses near CenturyLink Field</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic|Roboto+Slab' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <crime-map class="full-map"></crime-map>


    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->
    <script type="text/template" id="sidebar-tpl">
      <div class="sidebar-content">
        <h1>911 Responses near CenturyLink Field</h1>
        <p>This map shows all 911 responses within 1 mile of the Seattle Seahawks stadium, CenturyLink Field since January 1st, 2016.</p>
        <p>Incidents are clustered near each other based on proximity.</p>
        <div class="legend">
          <div class="legend-bar">
            <div class="legend-bar--hover">
              <div class="legend--low"></div>
            </div>
            <div class="legend-bar--hover">
              <div class="legend--med"></div>
            </div>
            <div class="legend-bar--hover">
              <div class="legend--high"></div>
            </div>
          </div>
          <div class="legend-label">
            <span>Low</span>
            <span>Medium</span>
            <span>High</span>
          </div>
        </div>

        <p>Data Source: <a href="https://data.seattle.gov/Public-Safety/Seattle-Police-Department-911-Incident-Response/3k2p-39jp" target="_blank">data.seattle.gov</a></p>
      </div>
    </script>

    <script type="text/template" id="popup-tpl">
      <h3><%= event_clearance_date %></h3>
      <h2><%= event_clearance_description %></h2>
      <p><%= hundred_block_location %></p>
    </script>

  </body>
</html>
